@import url("https://fonts.googleapis.com/css2?family=Gloock&display=swap");
@import url("https://fonts.cdnfonts.com/css/braton-composer-stamp-rough");

:root {
  --extra-light: #f8ede3;
  --light: #dfd3c3;
  --medium-light: #d0b8a8;
  --medium: #7d6e83;
  --medium-dark: #65647c;
  --dark: #222831;
  --font-fam-1: "Gloock", serif;
}

* {
  margin: 0%;
  padding: 0px;
  font-family: var(--font-fam-1);
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--medium-light);
}

#main {
  display: flex;
  flex-direction: column;
  width: 98%;
  min-height: 100px;
  margin: auto;
}

nav {
  background-color: var(--medium);
  padding-top: 0;
  margin-top: 0;
}

#nav-container {
  background-color: var(--medium);
}

#nav-container .navbar-brand a {
  font-family: "Braton Composer Stamp Rough", sans-serif;
  font-size: 35px;
  color: black;
}

#donateBtn {
  background-color: var(--medium-light);
}

#nav-div {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 30px;
  background-color: #d0b8a8;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}
#header-banner {
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  display: flex;
  min-height: 150px;
  background-color: var(--medium-light);
  margin-top: 10px;
  margin-bottom: 10px;
  background: url(https://i.imgur.com/c4L99NJ.jpg);
  background-size: 100%;
  background-position: center;
}

#main-div {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 400px;
  margin-top: 10px;
  justify-content: space-between;
}

#sidebar-div {
  display: flex;
  flex-direction: column;
  flex-basis: 20%;
  background-color: #dfd3c3;
  justify-content: top;
  align-items: top;
}

#body-area {
  display: flex;
  flex-direction: row;
  flex-basis: 75%;
  background-color: #f8ede3;
  justify-content: center;
  align-items: center;
}
#footer-div {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 50px;
  background-color: #d0b8a8;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}
/* h1 {
  text-align: center;
  font: white;
} */
h2 {
  text-align: center;
  font: white;
}
.btn {
  align-items: center;
}
#footer-div p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-items: center;
  margin: 1rem 0 3rem 0;
}
.socials li {
  margin: 0 10px;
}
.socials a {
  text-decoration: none;
  color: black;
}
.socials a i {
  font-size: 1.1rem;
}
.footer-bottom {
  background: rgb(255, 255, 255);
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}

#savedDrinksBar {
  text-decoration: underline;
  text-align: center;
  width: 100%;
  font-style: italic;
  background-color: #dfd3c3;
  letter-spacing: 1px;
}

.savedDrinks {
  display: block;
  padding: 14px 24px;
  border: 0 none;
  font-weight: 700;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #f8ede3;
  border-radius: 25px;
}

.savedDrinks:hover {
  background-color: #7d6e83;
  color: white;
}

#pickedName {
  position: relative;
}

#pickedIngredients {
  position: relative;
}

#pickedPicture {
  position: relative;
}

.largeDisplay {
  background-color: #f8ede3;
}

.opacity {
  opacity: 0.5;
}

div#option-one {
  background-color: var(--medium);
  border-color: aliceblue;
  text-shadow: 1px 1px 2px var(--dark);
  font-size: 22px;
  border-radius: 0;
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
  border-right: 3px solid aliceblue;
}

div#option-two {
  background-color: var(--medium);
  border-color: aliceblue;
  text-shadow: 1px 1px 2px var(--dark);
  font-size: 22px;
  border-radius: 0;
  border-top: 0;
  border-bottom: 0;
  border-right: 0;
  border-left: 3px solid aliceblue ;
}

#searchBtn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--medium);
  border-color: aliceblue;
  width: 10%;
  min-width: 20%;
  text-shadow: 1px 1px 2px var(--dark);
  font-size: 18px;
}

input#selections {
  max-width: 50%;
}

.hover-action:hover {
  background-color: var(--medium);
  cursor: pointer;
}

@media screen and (max-width: 788px) {
  #nav-container {
    flex-direction: column;
    justify-content: center;
  }

  #nav-container a {
    font-size: 25px;
  }

  #martini {
    width: 25px;
    height: 25px;
  }

  div#option-one {
    font-size: 16px;
  }

  div#option-two {
    font-size: 16px;
  }

  #searchBtn {
    font-size: 12px;
  }

  input#selections {
    font-size: 12px;
  }

  label.form-label {
    font-size: fs-4;
  }

  #main-div {
    flex-direction: column;
    flex-wrap: wrap;
  }

  div.col-md-6 {
    display: flex;
    justify-content: center;
  }
  #savedDrinks {
    display: flex;
    flex-wrap: wrap;
    order: 0;
  }

  img {
    max-width: 300px;
    max-height: 300px;
  }

  button.savedDrinks {
    font-size: 12px;
  }

  #sidebar-div {
    order: 1;
  }
}

div#option-one:hover{
  border: 2px solid var(--medium-light);
  opacity: 0.7;
} 
div#option-two:hover{
  border: 2px solid var(--medium-light);
  opacity: 0.7;
}