

* {
  margin: 0%;
  padding: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  background-color: #D0B8A8;
}

#wrapper-div {
  display: flex;
  flex-direction: column;
  width: 60%;
  min-height: 100px;
  margin: auto;
}

nav{
  background-color: #7D6E83;
  padding-top: 0;
  margin-top: 0;
}

#nav-container{
  background-color: #7D6E83;
}

#nav-container a{
  font-family: 'Braton Composer Stamp Rough', sans-serif;
  font-size: 35px;
  color: black;
}

#donateBtn {
  background-color: #D0B8A8;

}

#header-banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  min-height: 100px;
  background-color: lightgrey;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}
#main-div {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 400px;
  margin-top: 10px;
  justify-content: space-between;
}
#sidebar-div {
  display: flex;
  flex-direction: row;
  flex-basis: 20%;
  background-color: lightgrey;
  justify-content: top;
  align-items: top;
}
#body-area {
  display: flex;
  flex-direction: row;
  flex-basis: 75%;
  background-color: lightgrey;
  justify-content: center;
  align-items: center;
}
#footer-div {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 50px;
  background-color: lightgrey;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}
h1 {
  text-align: center;
  font: white;
}
h2 {
  text-align: center;
  font: white;
}
.btn {
  align-items: center;
}
#footer-div p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-items: center;
  margin: 1rem 0 3rem 0;
}
.socials li {
  margin: 0 10px;
}
.socials a {
  text-decoration: none;
  color: black;
}
.socials a i {
  font-size: 1.1rem;
}
.footer-bottom {
  background: rgb(255, 255, 255);
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}

#savedDrinksBar {
  text-decoration: underline;
  text-align: center;
  width: 100%;
  font-style: italic;
  background-color: lightblue;
  letter-spacing: 1px;
}

#savedDrinks {
  display: block;
  padding: 14px 24px;
  border: 0 none;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 10px;
}

.popup{
  background-color: aliceblue;
  width: 450px;
  padding: 30px 40px;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
  border-radius: 8px;
  display: none;
}
.popup button{
  display: block;
  margin: 0 0 20px auto;
  background-color: transparent;
  font-size: 30px;
  color: rgb(0, 0, 0);
  border: none;
  outline: none;
  cursor: pointer;
}

.popup p{
  font-size: 14px;
  text-align: justify;
  margin: 20px 0;
}

.popup a{
  display: block;
  width: 150px;
  position: relative;
  margin: auto;
  text-align: center;
  background-color: rgb(255, 255, 255);
  text-decoration: none;
}
